@import url(circle_runing_text.css);

body {
    font-family: 'Golos Text', sans-serif;
    font-weight: 500;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1222px;
    margin: 0 auto;
    position: relative;
    padding: 0px 20px;
}

/* ===========================HEADER============================= */
.logo {
    position: absolute;
    margin-top: 26px;
    z-index: 1;
    cursor: pointer;
    z-index: 6;
}

/* ===========================CONTENT============================ */

.main {
    flex-grow: 1;
    position: relative;
}

.main__content__top {
    height: 700px;
    position: relative;
    background-color: #E9DED4;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.main__content__top_wrapper {
    display: flex;
}

.main__content__top__background__layer1 {
    background-image: url(../images/backgroud-layer.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .2;
    z-index: 2;
}

.main__content__top__background__layer2 {
    z-index: 2;
    position: absolute;
    bottom: 0;
    min-width: 1623.5px;
}

.main__content__top__background__horse {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 22.5%;
    animation-name: figure;
    -webkit-animation-name: figure;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}

.main__content__top__background__pechka_figure {
    position: absolute;
    z-index: 5;
    bottom: 17px;
    right: -1%;
    animation-name: figure;
    -webkit-animation-name: figure;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}

.main__content__top__background__king_figure {
    position: absolute;
    z-index: -1;
    bottom: 75px;
    left: 55px;
    animation-name: figure;
    -webkit-animation-name: figure;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.main__content__top__background__chess_figure {
    position: absolute;
    z-index: -1;
    bottom: 180px;
    right: 125px;
    animation-name: figure;
    -webkit-animation-name: figure;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
}


@keyframes figure {
    0% {
        transform: translateY(300px);
        -webkit-transform: translateY(300px);
        -moz-transform: translateY(300px);
        -ms-transform: translateY(300px);
        -o-transform: translateY(300px);
    }
}


.main__content__top__info {
    display: flex;
    flex-direction: column;
    max-width: 542px;
    padding-top: 124px;
    position: relative;
    z-index: 5;
}

.main__content__top_title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: #313131;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;

}

.text_space--one {
    margin-left: 85px;
}

.text_space--two {
    margin-left: 30px;
}

.main__content__top__text {
    margin-top: 24px;
    color: #313131;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.main__content__top__buttons {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Golos Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.main__content__top__button {
    width: 263px;
    height: 72px;
    border: 2px solid #1F1F1F;
    z-index: 10;
    border-radius: 66px;
    -webkit-border-radius: 66px;
    -moz-border-radius: 66px;
    -ms-border-radius: 66px;
    padding: 0px 40px;
    font-weight: 600;
    cursor: pointer;
    -o-border-radius: 66px;
}


.main__content__top__button--left {
    background-color: #1F1F1F;
    color: white;
    margin-right: 16px;
}

.main__content__top__button--left:hover {
    background-color: #FBCE51;
    border: 2px solid #FBCE51;
    color: #1F1F1F;
}

.main__content__top__button--right {
    background-color: transparent;
    color: #1F1F1F;
    font-style: 16px;
    line-height: 20px;
    padding: 0px 50px;

}

.main__content__top__button--right:hover {
    border: 2px solid #1F1F1F;
    background-color: #1F1F1F;
    color: white;
}

.marquee {
    font-family: 'Merriweather', serif;
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #F54932;
    overflow-x: hidden;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFF;

}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 25s linear infinite;
    -webkit-animation: marquee 25s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


/* ==============main__content__invitation======================= */
.main__content__invitation_bottom_list_mobile {
    display: none;
}

.main__content__invitation {
    margin-top: 80px;
}

.main__content__invitation_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__content__invitation_top_text {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    color: #313131;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 48px;
    max-width: 764px;
    padding-right: 10px;

}

.text-br {
    display: block;
}

.text-color {
    color: #F54932;
    font-weight: 600;
}

.main__content__invitation_top_img {
    width: 394px;

}

.main__content__invitation_bottom {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.main__content__invitation_bottom_left {
    position: relative;
    min-width: 494px;
    height: 557px;
}

.main__content__invitation_bottom_left-img {
    position: absolute;
    top: -35px;
    left: -30px;
    min-width: 100%;
    height: 110%;

}

.main__content__invitation_bottom_right {
    max-width: 704px;
}

.main__content__invitation_bottom_right_title {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    color: #313131;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 48px;
    max-width: 650px;
}

.main__content__invitation_bottom_right_table {
    margin-top: 60px;
    display: flex;
    color: #313131;
    font-size: 20px;
}

.main__content__invitation_bottom_right_table_item {
    padding: 16px 16px;
}

.main__content__invitation_bottom_right_table_left {
    width: 295px;
}

.main__content__invitation_bottom_right_table_right {
    width: 398px;
    font-weight: 600;
}

.table-line {
    padding-left: 0px;
    border-right: 2px solid #D0D0D0;
}

.table-line-bottom {
    border-bottom: 2px solid #D0D0D0;
}

.text-underline {
    text-decoration: line-through;
    margin-right: 10px;
    text-decoration-color: #F54932;
    -moz-text-decoration-color: #F54932;
}

.main__content__invitation_bottom_right_bottom_text {
    margin-top: 48px;
    font-size: 20px;
    line-height: 24px;
    color: red;
}

.main__content__invitation_bottom_right_bottom_text a {
    text-decoration: none;
    color: #3057A2;
    font-family: 'Golos Text', sans-serif;
    width: 400px;
}

/* ====================main__content__stages===================== */

.main__content__stages {
    margin-top: 200px;
}

.main__content__stages_top {
    width: 806px;
    position: relative;
}

.main__content__stages_top_title {
    font-size: 54px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    line-height: 65px;
    color: #313131;
}

.main__content__stages_top_subtitle {
    position: absolute;
    width: 280px;
    font-size: 20px;
    line-height: 22px;
    color: #3057A2;
    bottom: 9px;
    left: 301px;
}

.main__content__stages_grid {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.text-margin-right {
    margin-right: 28%;
}

.main__content__stages_grid_block {
    background-image: url(../images/BACKGROUND-Paper.png);
    display: flex;
    padding: 20px;

}

.main__content__stages_grid_block_text {
    min-width: 302px;
    max-width: 546px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #313131;
}

.main__content__stages_grid_block_num {
    width: 36px;
    height: 36px;
    margin-right: 20px;
}

.main__content__stages_grid_block_plane_img {
    position: absolute;
    right: -45px;
    bottom: 0px;

}

.grid-item-3 {
    grid-row-start: span 2;
}

.grid-item-7 {
    grid-column-start: span 2;
}

.main__content__stages_grid_block_mobile {
    display: none;
}

.main__content__stages_grid_buttons {
    display: none;
}

/* ===========================main__content__participant============================= */

.main__content__participant {
    margin-bottom: 140px;
    margin-top: 200px;
}

.main__content__participant_top {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
}

.main__content__participant_top_title {
    font-family: 'Merriweather', serif;
    font-size: 54px;
    line-height: 65px;
    color: #313131;
    text-transform: uppercase;
}

.main__content__participant_top_buttons_desctop {
    width: 151px;
    display: flex;
    align-items: center;
}

.num_between_btn {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    line-height: 19.2;
    margin: 0px 14px;
    color: #313131;
    font-size: 16px;

}



.main__content__participant_top_buttons_desctop button {
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button_left_arrow,
.button_left_arrow_pad,
.button_left_arrow_mobile {
    background-image: url(../images/carousel_button_left.png);
}

.button_left_arrow:hover,
.button_left_arrow_pad:hover,
.button_left_arrow_mobile:hover {
    background-image: url(../images/carousel_button_right_yellow.png);
    transform: rotate(180deg);
}

.button_right_arrow,
.button_right_arrow_pad,
.button_right_arrow_mobile {
    background-image: url(../images/carousel_button_right.png);
}

.button_right_arrow:hover,
.button_right_arrow_pad:hover,
.button_right_arrow_mobile:hover {
    background-image: url(../images/carousel_button_right_yellow.png);
}


.main__content__participant_carousel {
    height: 462px;
    margin-top: 60px;
    display: flex;
    max-width: 1222px;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
}


.main__content__participant_carousel_pad,
.main__content__participant_carousel_mobile {
    display: none;
}

.main__content__participant_carousel-line_item_pad,
.main__content__participant_carousel-line_item_mobile,
.main__content__participant_carousel-line_item {
    transition: all .8s ease-in-out;
    display: flex;
    position: relative;
    left: 0;
}

.main__content__participant_carousel_item {
    width: 394px;
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}




.main__content__participant_carousel_item_name {
    font-family: 'Golos Text', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: 28px;
}

.main__content__participant_carousel_item_rank {
    margin-top: 6px;
    color: #313131;
    opacity: .6;
}

.main__content__participant_carousel_item_btn {
    width: 113px;
    height: 35px;
    margin-top: 20px;
    border: 1px solid #3057A2;
    background-color: transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #3057A2;
    cursor: pointer;
}

.main__content__participant_carousel_item_btn:hover {
    background-color: #3057A2;
    color: #FFF;
}

#num_carousel_right {
    color: gray;
}

/* ===========================FOOTER============================= */

.footer {
    width: 100%;
    flex-shrink: 0;
    min-height: 150px;
    background-color: #E9DED4;
    padding: 40px 72px 72px;

}

.footer__text {
    font-family: 'Golos Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #313131;
    opacity: 0.8;
}

/* =========================================1250========================================== */


@media (max-width: 1250px) {
    .main__content__top__background__layer2 {
        min-width: 1400px;
    }

    .main__content__top__info {
        width: 450px;
    }


    .main__content__top_title {
        margin-top: 30px;
        font-size: 50px;
        line-height: 55px;
    }

    .text_space--one {
        margin-left: 65px;
    }

    .text_space--two {
        margin-left: 25px;
    }

    .text_space--three {
        margin-right: 20%;
    }

    .circle {
        width: 600px;
        top: 20px;
        left: 37px;
        height: 600px;
        font-size: 14px;
    }

    .main__content__top__button {
        padding: 0px 30px;
    }

    .main__content__invitation_bottom_right_table {
        margin-top: 40px;
    }

    .main__content__invitation_bottom_right_table_right {
        width: 300px;

    }

}


/* =========================================1230========================================== */
@media(max-width: 1230px) {
    .main__content__stages_grid {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .grid-item-7 {
        grid-column-start: auto;
    }

    .text-margin-right {
        margin-right: 0;
    }



    .main__content__stages_grid_block_plane_img {
        right: 0px;
        top: -50px;
    }

    .main__content__stages {
        margin-top: 150px;
    }

    .main__content__participant_carousel {
        max-width: 788px;
        margin-left: auto;
        margin-right: auto;
    }

    .main__content__participant_carousel_desctop {
        display: none;
    }

    .main__content__participant_carousel_pad {
        display: block;
    }


}

/* =========================================1140========================================== */


@media (max-width: 1140px) {
    .main__content__top__background__layer2 {
        min-width: 1400px;
    }

    .main__content__top__info {
        width: 400px;
    }


    .main__content__top_title {
        max-width: 350px;
        margin-top: 30px;
        font-size: 40px;
        line-height: 45px;
    }

    .main__content__top__text {
        text-align: left;
    }

    .text_space--one {
        margin-left: 55px;
    }

    .text_space--two {
        margin-left: 20px;
    }

    .main__content__top__buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .main__content__top__button {
        width: 100%;
        margin-right: 0;

    }

    .main__content__top__button--left {
        margin-bottom: 10px;
    }

    .circle {
        top: 20px;
        left: 63px;
    }

    .main__content__invitation_bottom_left {
        position: relative;
        min-width: 400px;
        height: 500px;

    }

    .main__content__invitation_top_text {
        max-width: 650px;
        font-size: 30px;
        line-height: 44px;
    }

    .main__content__invitation_bottom_right_title {
        max-width: 650px;
        font-size: 30px;
        line-height: 44px;
    }


}

/* =========================================1060========================================== */
@media (max-width: 1060px) {
    .main__content__top {
        height: 550px;
    }

    .main__content__top__info {
        padding-top: 100px;
        width: 300px;
    }

    .main__content__top__text {
        margin-top: 15px;
    }

    .main__content__top__background__layer2 {
        min-width: 1200px;
    }


    .main__content__top_title {
        margin-top: 0px;
        font-size: 36px;
        line-height: 34px;
    }

    .text_space--one {
        margin-left: 55px;
    }

    .text_space--two {
        margin-left: 10px;
    }

    .main__content__top__buttons {
        margin-top: 15px;
    }

    .main__content__top__button {
        height: 60px;
        padding: 0px 20px;

    }

    .main__content__top__button--left {
        margin-bottom: 14px;
    }

    .circle {
        width: 500px;
        top: 0px;
        left: 87px;
        height: 500px;
        font-size: 11px;
    }

    .main__content__top__background__king_figure {
        bottom: 55px;
        width: 120px;
        left: 20px;
    }

    .main__content__top__background__chess_figure {
        width: 120px;
        bottom: 130px;
        right: 105px;
    }

    .main__content__top__background__horse {
        bottom: 0;
        right: 22.5%;
        width: 120px;
    }

    .main__content__top__background__pechka_figure {
        width: 70px;
        z-index: 5;
        bottom: 17px;
        right: -5.5%;

    }

    .main__content__invitation_bottom_right_table_right {
        width: 270px;
    }

    .main__content__stages_top_title {
        max-width: 450px;
        margin-bottom: 80px;
    }

    .main__content__stages_top_subtitle {
        width: 300px;
        bottom: -50px;
        left: 0;
    }

}

/* =========================================1040========================================== */
@media (max-width: 1040px) {
    .br--word {
        display: block;
    }
}

/* =========================================1010========================================== */
@media (max-width: 1010px) {
    .main__content__invitation_top {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .main__content__invitation_top_img {
        display: none;
    }

    .image__between-text {
        background-image: url(../images/ellips_photo.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 400px;
        margin: 34px 0px;

    }

    .main__content__invitation_bottom {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .main__content__invitation_bottom_right {
        margin-top: 34px;
        display: flex;
        flex-direction: column;
        max-width: 570px;
    }

    .main__content__invitation_bottom_left-img {
        left: 0px;
    }


}

/* =========================================870========================================== */
@media (max-width: 870px) {
    .main__content__top {
        height: 830px;
    }

    .main__content__top_wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__content__top__text {
        text-align: left;
        width: 335px;
    }

    .br--span {
        margin-right: 20%;
    }

    .main__content__top__background__layer2 {
        margin-left: -300px;
    }

    .main__content__top__info {
        width: 100%;
    }

    .main__content__top__button--right {
        background-color: #fff;
        opacity: 90%;
        border: 1px solid #ffffffe8;
    }

    .main__content__top__button--right:hover {
        opacity: 100%;
    }

    .circle {
        width: 400px;
        top: -100px;
        left: 45px;
        height: 400px;
        font-size: 9px;
    }

    .main__content__top__background__king_figure {
        bottom: 88px;
        width: 80px;
        left: 30px;
    }

    .main__content__top__background__chess_figure {
        width: 80px;
        bottom: 155px;
        right: 55px;
    }

    .main__content__top__background__horse {
        bottom: 0;
        right: 22.5%;
        width: 120px;
    }

    .main__content__top__background__pechka_figure {
        display: none;
    }

    .marquee {
        height: 38px;
        font-size: 16px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .main__content__stages_grid_block_plane_img {
        right: 0px;
        top: 50px;
    }

    .main__content__stages_grid_block_text {
        font-size: 18px;
        min-width: 0px;
        width: 243px;
    }

    .main__content__stages_grid_block {
        width: 335px;
        height: 300px;
        padding: 62px 20px 0px 20px;
    }


    .main__content__stages_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 0px;

    }


    .grid-item-3 {
        grid-row-start: auto;
    }

    .grid-item-7 {
        grid-column-start: auto;
    }

    .main__content__stages {
        margin-top: 110px;
    }


    .main__content__participant {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .main__content__participant_top_title {
        font-size: 36px;
        line-height: 40px;
    }



    .main__content__participant_carousel_pad {
        display: none;
    }

    .main__content__participant_carousel_mobile {
        display: block;

    }

    .main__content__participant_carousel {
        max-width: 394px;
        margin-left: auto;
        margin-right: auto;
    }

    .main__content__participant_top_buttons_desctop {
        margin: 40 auto 0;
        height: 40px;
    }

    /* =========================================740========================================== */
    @media(max-width: 740px) {

        .grid-item-1,
        .grid-item-2,
        .grid-item-4,
        .grid-item-5 {
            display: none;

        }

        .main__content__stages {
            margin-top: 80px;
        }

        .main__content__stages_top {
            display: flex;
            margin-bottom: 148px;
        }

        .main__content__stages_top_title {
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 10px;
        }

        .main__content__stages_top_subtitle {
            font-size: 18px;
        }

        .main__content__stages_grid_block_plane_img {
            top: 115px;
            width: 320px;
        }

        .main__content__stages_grid_block_mobile {
            background-image: url(../images/BACKGROUND-Paper.png);
            padding: 20px;
            width: 335px;
            height: 300px;
            display: flex;
            padding: 62px 20px 0px 20px;

        }

        .main__content__stages_grid_block_mobile--flex {
            flex-direction: column;
            gap: 28px;
        }

        .main__content__stages_grid_block_mobile-top,
        .main__content__stages_grid_block_mobile-bottom {
            display: flex;

        }

        .main__content__stages_grid {
            grid-template-columns: repeat(5, 1fr);
            overflow: hidden;
            margin: 0 auto;
            width: 335px;
            gap: 10px;
            display: flex;
            flex-direction: column;
            display: none;
        }

        .main__content__stages_slider {
            max-width: 335px;
            height: 300px;
            overflow: hidden;
            margin: 0 auto;
        }

        .main__content__stages_grid_dots {
            display: flex;
        }

        .main__content__stages_grid_block_mobile {
            display: none;
        }

        .main__content__stages_grid_block_mobile--active {
            display: flex;
            animation-name: Animation;
            animation-duration: 1s;
        }

        .main__content__stages_grid_buttons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            align-items: center;
        }


        .main__content__stages_grid_button_dots {
            cursor: pointer;
            display: flex;
            width: 10px;
            height: 10px;
            background-color: #D9D9D9;
            border-radius: 100px;
            margin-right: 6px;
            transition: background-color .3s ease-in-out;
        }

        .main__content__stages_grid_block_text {
            line-height: 21px;
            width: 225px;
        }

        .main__content__stages_grid_button_dots:hover {
            background-color: #313131;
        }

        .main__content_dots--active {
            background-color: #313131;
        }

        .main__content__stages_grid_button_dots:last-child {
            margin-right: 0px;
        }

        .main__content__stages_grid_button {
            width: 36px;
            height: 36px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        @-webkit-keyframes Animation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }


        .main__content__stages_grid_button_left {
            background-image: url(../images/carousel_button_disabled.png);
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 16px;
            transform: rotate(180deg);

        }

        .main__content__stages_grid_button_right {
            background-image: url(../images/carousel_button_right.png);
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 16px;
        }

        .main__content__stages_grid_button--disabled {
            background-image: url(../images/carousel_button_disabled.png);
        }

        .main__content__stages_grid_button--left-active {
            background-image: url(../images/carousel_button_left.png);
            transform: rotate(360deg);

        }

        .main__content__stages_grid_button--left-active:hover {
            background-image: url(../images/carousel_button_right_yellow.png);
            transform: rotate(180deg);

        }

        .main__content__stages_grid_button_right:hover {
            background-image: url(../images/carousel_button_right_yellow.png);
        }

        .main__content__stages_grid_button--disabled:hover {
            background-image: url(../images/carousel_button_disabled.png);
        }
    }

    /* =========================================710========================================== */

    @media (max-width: 710px) {
        .image__between-text {
            display: flex;
            justify-content: center;
            height: 400px;

        }


    }

    /* =========================================650========================================== */

    @media (max-width: 650px) {
        .image__between-text {
            margin-bottom: -30px;
        }

        .main__content__invitation_top_text {
            text-align: left;
        }
    }


    /* =========================================600========================================== */

    @media (max-width: 600px) {
        .image__between-text {
            margin-top: 20px;
            margin-bottom: 20px;
            height: 300px;
        }

        .main__content__invitation_bottom_right_table_left,
        .main__content__invitation_bottom_right_table_right {
            display: none;
        }


        .main__content__invitation_top_text p {
            text-align: left;
            font-style: 28px;
            line-height: 37px;
        }

        .main__content__invitation_bottom_right_table {
            display: flex;
            justify-content: center;
        }

        .main__content__invitation {
            margin-top: 50px;
        }

        .main__content__invitation_bottom_left-img {
            min-width: 200px;
            height: 100%;
        }


        .main__content__invitation_bottom_right_title {
            font-size: 28px;
            line-height: 37px;
            text-align: left;
            margin: 0 auto;
        }

        .main__content__invitation_bottom_right {
            margin-top: -20px;
            text-align: left;
            display: flex;
            justify-content: center;
            width: 336px;
        }

        .span--br {
            display: block;
        }

        .main__content__invitation_bottom_right_bottom_text {
            text-align: left;
            font-size: 18px;
            margin-top: 30px;
        }

        .main__content__invitation_bottom_list_mobile {
            display: block;
        }

        .main__content__invitation_bottom_list_mobile ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            font-weight: 600;
            border-bottom: 2px solid #D0D0D0;
            color: #313131;
        }

        .main__content__invitation_bottom_list_mobile li {
            list-style: none;
            padding-bottom: 12px;
            line-height: 24px;

        }

        .main__content__invitation_bottom_list_mobile ul:last-child {
            border: none;
        }

        .border-li {
            padding-top: 16px;
            color: #313131;
            opacity: 70%;
        }

        .bold-li-custom {
            font-weight: 600;
            color: #313131;
            padding-top: 16px;
        }

        .ul-nowrap {
            display: flex !important;
            flex-direction: row !important;
            border-bottom: 2px solid #D0D0D0;
            gap: 0px 10px;
        }




    }

    /* =========================================500========================================== */


    @media (max-width: 500px) {
        .image__between-text {
            margin-bottom: 0px;
        }

        .main__content__stages_top_title {
            width: 300px;
        }

        .main__content__stages_grid_block_plane_img {
            top: 155px;
        }
    }

    /* =========================================450========================================== */
    @media (max-width: 450px) {
        .main__content__invitation_bottom_left {
            height: 400px;
        }

        .main__content__invitation_bottom_left-img {
            width: 350px;
            height: 450px;
            left: 30px;
        }

        .main__content__invitation_bottom_right {
            margin-top: 20px;
        }

        .image__between-text {
            margin-bottom: -40px;
        }

        .main__content__participant_carousel {
            margin-top: 0;
            width: 335px;

        }

        .main__content__participant_carousel_item {
            justify-content: center;
            width: 335px;
            margin: 0 auto;
        }

        .main__content__participant_top_buttons_desctop {
            margin-top: 0;
        }


        .main__content__participant_carousel_item_img {
            width: 244px;
        }

    }

    /* =========================================400========================================== */
    @media (max-width: 400px) {
        .image__between-text {
            margin-bottom: -80px;
        }
    }

    /* =========================================450========================================== */

    @media (max-width: 450px) {
        .main__content__top {
            height: 792px;
        }

        .main__content__top__text {
            text-align: left;
            width: 100%;
        }


        .main__content__top__info {
            min-width: 313px;
            padding-top: 95px;
        }

        .logo {
            padding-left: 10px;
            width: 213px;
            height: 32px;
        }

        .main__content__top_title {

            padding-left: 10px;
            width: 100%;
        }

        .main__content__top__text {
            margin-top: 24px;
            padding-left: 10px;

        }

        .main__content__top__buttons {
            margin-top: 32px;
        }


        .main__content__top__background__layer2 {
            margin-left: -320px;
            min-width: 985px;
        }

        .main__content__top__button {
            height: 47px;
        }

        .circle {
            width: 325px;
            top: -60px;
            left: -3px;
            height: 325px;
            font-size: 9px;
        }

        .main__content__top__background__king_figure {
            bottom: 50px;
            width: 60px;
            left: 35px;
        }

        .main__content__top__background__chess_figure {
            width: 60px;
            bottom: 118px;
            right: 45px;
        }

    }

    /* =========================================400========================================== */
    @media (max-width: 400px) {
        .main__content__top {
            height: 720px;
        }

        .main__content__top__background__layer2 {
            margin-left: -285px;
            height: 210px;
            min-width: 860px;
        }

        .circle {
            width: 280px;
            top: -75px;
            height: 280px;
            font-size: 6px;
        }

        .main__content__top__background__king_figure {
            bottom: 42px;
            width: 50px;
            left: 34px;
        }

        .main__content__top__background__chess_figure {
            width: 50px;
            bottom: 95px;
            right: 38px;
        }

        .main__content__top__background__horse {
            width: 85px;
            left: 40%;
        }

        .main__content__stages_top {
            margin-bottom: 180px;
        }

        .main__content__stages_grid_block_plane_img {
            top: 180px;
            left: 35px;
            transform: rotate(-3deg);
        }

    }